.container {
  display: flex;
  flex-direction: column;
}

.container > div {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

input, button {
  font-size: 2rem;
  text-align: center;
}

#result {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 5rem;
}